<main class="main">
  <div class="main__buttons_top">
    <button attr-test-burger>
      <label for="check">
        <input type="checkbox" id="check"/>
        <span></span>
        <span></span>
        <span></span>
      </label>
    </button>
    <input attr-test-search #musicInput (input)="searchMusic(musicInput.value)" type="search" placeholder="Search">
  </div>
  <div class="main__trending">
    <h2 class="main__trending_heading">
      Trending right now
    </h2>
    <div class="main__trending_blocks">
      <div class="main__trending_block">
        <div class="block__inner">
          <div>
            <h3>
              Lorem ipsum
            </h3>
            <p class="flex items-center gap-0.5 "><img width="20px" src="./assets/images/svgs/music-logo.svg" alt="">Lorem
              ipsum</p>
          </div>
          <img width="50px" src='./assets/images/svgs/play-btn.svg' alt="">
        </div>
      </div>
      <div class="main__trending_block">
        <div class="block__inner">
          <div>
            <h3>
              Lorem ipsum
            </h3>
            <p class="flex items-center gap-0.5 "><img width="20px" src="./assets/images/svgs/music-logo.svg" alt="">Lorem
              ipsum</p>
          </div>
          <img width="50px" src='./assets/images/svgs/play-btn.svg' alt="">
        </div>
      </div>
      <div class="main__trending_block">
        <div class="block__inner">
          <div>
            <h3>
              Lorem ipsum
            </h3>
            <p class="flex items-center gap-0.5 "><img width="20px" src="./assets/images/svgs/music-logo.svg" alt="">Lorem
              ipsum</p>
          </div>
          <img width="50px" src='./assets/images/svgs/play-btn.svg' alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="main__genres_line">
    <button (click)="filterMusic('trending')">all</button>
    <button (click)="filterMusic('rock')">Rock</button>
    <button (click)="filterMusic('metal')">Metal</button>
    <button (click)="filterMusic('phonk')">Phonk</button>
    <button (click)="filterMusic('pop')">Pop</button>
    <button (click)="filterMusic('rap')">Rap</button>
  </div>
  <div class="main__music">
    <ng-container *ngIf="(musicList$ | async) as music ">
      <app-music  *ngFor="let song of music" [music]="song"></app-music>
    </ng-container>
  </div>
</main>
