<div [@fadeInOut] (click)="startPlaying()"  class="main__music_music">
  <div data-aos="fade" class="flex gap-5">
    <img data-aos="fade-right"  class="song-image" src="https://www.bhmpics.com/downloads/purple-crown-Wallpapers/36.royal-gold-crown-on-purple-background-minimal-idea-concept-3d-rendering.jpg" alt="">
    <div class="music">
      <div class="music__name">{{music.name}}</div>
      <div class="music__author">{{music.author}}</div>
    </div>
  </div>
  <div>
    <img width="32px" src="../../../../../assets/images/svgs/heart.svg" alt="">
  </div>
</div>
