<main class="catalog">
  <div class="catalog__navigation">
    <div routerLink="/home" class="catalog__navigation_back"><img src="./assets/images/svgs/arrow_back.svg" alt=""></div>
    <div class="catalog__navigation_like"><img ngSrc="./assets/images/svgs/heart.svg" alt="" height="800" width="800"></div>
  </div>

  <div class="favorites">
    <div class="favorites__heading">
      Recent favorites
    </div>
    <div class="favorites__blocks">
      <div class="favorites__blocks_block">
        <img src="https://videohive.img.customer.envatousercontent.com/28b8c44f-456d-437a-af9e-4ed2d9f0e02e/video_preview/video_preview_0000.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=498c4b721ebfacf47c821c11809b53c2" alt="">
        <div><span>#</span>Rock</div>
      </div>
      <div class="favorites__blocks_block">
     <img src="https://wallpaperaccess.com/full/2855241.jpg" alt="">
        <div><span>#</span>Pop</div>
      </div>
      <div class="favorites__blocks_block">
        <img src="https://e0.pxfuel.com/wallpapers/813/711/desktop-wallpaper-green-purple-and-blue-liquefied-swirl-art-by-lonewolf6738-background-cool-purple-and-blue-thumbnail.jpg" alt="">
        <div><span>#</span>Phonk</div>
      </div>
      <div class="favorites__blocks_block">
        <img src="https://images.pexels.com/photos/3109808/pexels-photo-3109808.jpeg" alt="">
        <div><span>#</span>Rap</div>
      </div>
      <div class="favorites__blocks_block">
        <img src="https://img.freepik.com/premium-photo/abstract-motion-background-blue-purple-modern-fluid-noise-background-deformed-surface-with-smooth-reflections-shadows-3d-illustration_250994-51.jpg" alt="">
        <div><span>#</span>Metal</div>
      </div>

    </div>
  </div>
</main>
